.attack-button {
  background-color: #202020;
  color: white;
  padding: 8px 0;
  width: 100%;
  border: 3px solid #606060;
  outline: none;
  font-size: 20px;

  transition: 0.2s;
}

.attack-button:hover {
  background-color: #101010;
  border: 3px solid #505050;
}
