.damage-span,
.damage-span-crit {
  display: block;
  text-align: cen;
  background-color: #202020;
  padding-bottom: 3px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.damage-span > span {
  font-size: 26px;
  color: lightgreen;
}

.damage-span-crit > span {
  font-size: 26px;
  color: red;
}
