.image-coins {
  width: 32px;
}

.wrapper-player-coins {
  display: flex;
  width: 52%;
  background-color: #202020;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 0 auto;
  border-radius: 10px;
}

.span-player-coins {
  font-size: 20px;
  color: #ffb444;
  margin-left: 10px;
}
