.status-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.attributes-container {
  display: inline-block;
}

.attributes-container span {
  margin: 10px;
  display: block;
}
