.utilities-container {
  background-color: #202020;
  border: 1px solid #606060;
  margin: 0 auto 10px auto;
  padding: 5px 0;
  width: 52%;
  text-align: center;
  border-radius: 10px;
}

.potion-container > img,
.skill-container > img {
  width: 64px;
  transition: 0.2s;
  cursor: not-allowed;
}

.potion-container {
  display: inline-block;
  width: 49%;
}

.potion-container > span,
.skill-container > span {
  font-size: 26px;
}

.skill-container {
  display: inline-block;
  width: 49%;
}

.potion-container > img:hover,
.skill-container > img:hover {
  transform: scale(1.2);
}
